*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.garis {
    display: flex;
    width: 100vw;
    height: 50px;
    padding: 0;
    font-size: 22px;
    background-color: #db0030;
    justify-content: center;
    box-shadow: 10px 10px 5px #a50044;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li {
    padding: 150px;
    list-style-type: none;
    text-decoration: none;
}

.nav li a {
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #004d98;
    display: flex;
    align-items: center;
}

.nav li a:hover {
    color: white !important;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    transition: all .4s ease-in-out;
}

.gam {
    display: inline-block;
    justify-content: center;
}

.krkr {
    display: block;
    font-size: 50px;
    width: 55vw;
    padding: 100;
    height: 48vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gambar {
    width: 40px;
    height: 40px;
    padding: 10;
}

.main {
    background-color: #004d98;
    display: flex;
    height: 92vh;
}

.h11 {
    display: block;
    width: 55vw;
    padding: 100;
    height: 48vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card {
    float: right;
    padding-top: 50;
}

.me3 {
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nam {
    background-color: #004d98;
    width: 300px;
    height: 40;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.down ul li {
    background-color: white;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline;
    font-size: 40;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.down ul li :hover {
    list-style: none;
    display: inline;
    font-size: 40;
    border-radius: 10px;
    transition: all .5 ease-in-out;
    background: black;
    color: #fff;
    text-shadow:
        0 0 3px #48b4c2,
        0 0 5px #5d2ae9,
        0 0 9px #1c4aac,
        0 0 20px #166ed1,
        0 0 25px #f8f8f7,
        0 0 30px #fe2600,
        0 0 40px #01a9af;
}



.fac {
    color: #3b5998;
    padding: 8;
    margin: 8;
}

.linke {
    color: #0072b1;
    padding: 8;
    margin: 8;

}


.ing {
    color: #ff0066;
    padding: 8;
    margin: 8;
}

.down ul {
    display: flex;
    width: 230px;
    justify-content: space-between;

}
.nam3 {
    background-color: #004d98;
    width: 300px;
    height: 40;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}